Assignment Link
20th Aug'23 : Python basics practice test file
https://drive.google.com/file/d/1q2FG27cypBxxldsz32YjxCtHlupki8jJ/view

# TOPIC: String Based Assignment Problems

In [124]:
#1. Write a program to reverse a string.

In [3]:
stri=input("Enter string :")

print("Reversed string :",stri[::-1])

Enter string :hi
Reversed string : ih

In [126]:
#2. Check if a string is a palindrome.

In [4]:
stri=input("Enter string :")
rev=stri[::-1]
if(stri==rev):
    print(f"String {stri} is palindrome")
else:
    print(f"String {stri} is not palindrome")

Enter string :madam
String madam is palindrome

In [5]:
#3. Convert a string to uppercase.
stri="heLlo"
print("String in normal case : ",stri)
print("String in uppercase : ",stri.upper())
#4. Convert a string to lowercase.
print("String in lowercase : ",stri.lower())

String in normal case :  heLlo
String in uppercase :  HELLO
String in lowercase :  hello

In [6]:
#5. Count the number of vowels in a string.

In [6]:
stri="aeio uA"
vowel=['a','e','i','o','u','A','E','I','O','U']
count=0
for x in stri:
    if x in vowel:
        count=count+1
print(f"Number of vowels in the given string '{stri}' :",count)

Number of vowels in the given string 'aeio uA' : 6

In [8]:
#6. Count the number of consonants in a string.

In [7]:
stri="aeiouA hello b"
vowel=['a','e','i','o','u','A','E','I','O','U']
count=0
for x in stri:
    if x not in vowel:
        count=count+1
print(f"Number of consonants in the given string '{stri}' :",count)

Number of consonants in the given string 'aeiouA hello b' : 6

In [10]:
#7. Remove all whitespaces from a string.

In [8]:
stri="hElL o"
print("Original String: ",stri)
res=stri.replace(" ","")
print("White space removed : ",res)


# def remo(s):
#     return s.replace(" ","")
# inp="h e l l o"
# res=remo(inp)
# print(inp)
# print(res)

Original String:  hElL o
White space removed :  hElLo

In [12]:
#8. Find the length of a string without using the `len()` function.

In [9]:
stri="help me!"
print("Using len() :",len(stri))
count = 0
for i in stri:
    count+=1
print("Without len :",count)

Using len() : 8
Without len : 8

In [14]:
#9. Check if a string contains a specific word.

In [10]:
stri=input("Enter String : ")
word=input("Enter word : ")
if word in stri:
    print(f"String {stri} contains {word}")
else:
    print(f"String {stri} does not contain {word}")

Enter String : hio
Enter word : hi
String hio contains hi

In [16]:
#10. Replace a word in a string with another word.

In [11]:
stri = input("Enter String : ")    #sentence
word = input("Enter word : ")      #Word will be searched in sentence
key = input("Enter Key : ")        # if word exist in sentence, it will be replaced with key

if word in stri:
    stri = stri.replace(word, key)
    print(stri)
else:
    print("Word not found in the string.")

Enter String : this is not good
Enter word : is
Enter Key : will
thwill will not good

In [18]:
#11. Count the occurrences of a word in a string.

In [12]:
stri = input("Enter String : ")
word = input("Enter word : ")
x=stri.split(" ")
count=0
for w in x:
    if word in w:
        count+=1
print(f"The '{word}' occured {count} times in '{stri}'")

Enter String : hi
Enter word : hi
The 'hi' occured 1 times in 'hi'

In [20]:
#12. Find the first occurrence of a word in a string.

In [13]:
input_string = "Collecting enough data is a good thing, learning data science is a basic step"
# find the first occurance of the word bhavya
word = "data"

index = input_string.find(input("Enter the word: "))

print("The word ", word, " occurs at ", index, " index")

Enter the word: hio
The word  data  occurs at  -1  index

In [22]:
#13. Find the last occurrence of a word in a string.

In [14]:
input_string = "i in am good to be am"
word_to_find = "am"

first_occurrence_index = input_string.find(word_to_find)
last_occurrence_index = input_string.rfind(word_to_find)

if first_occurrence_index != -1:
    print(f"The word '{word_to_find}' first occurs at index {first_occurrence_index} in the string.")
    print(f"The word '{word_to_find}' last occurs at index {last_occurrence_index} in the string.")
else:
    print(f"The word '{word_to_find}' is not found in the string.")

The word 'am' first occurs at index 5 in the string.
The word 'am' last occurs at index 19 in the string.

In [24]:
#14. Split a string into a list of words.

In [15]:
stri= "i_in_am_good_to_be_am"
x=stri.split("_")
x

['i', 'in', 'am', 'good', 'to', 'be', 'am']

In [26]:
#15. Join a list of words into a string.

In [16]:
stri=['i', 'in', 'am', 'good', 'to', 'be', 'am']
x=" ".join(stri)
x

'i in am good to be am'

In [28]:
#16. Convert a string where words are separated by spaces to one where words
#are separated by underscores.

In [17]:
stri= "i in am good to be am"
x=stri.replace(" ","_")
x

'i_in_am_good_to_be_am'

In [30]:
#17. Check if a string starts with a specific word or phrase.
#18. Check if a string ends with a specific word or phrase.

In [18]:
stri="i in am good to be am"
key="il"
if stri.startswith(key):
    print(f"yes, string starts with '{key}'")
else:
    print(f"No, string do not starts with '{key}'")

No, string do not starts with 'il'

In [32]:
#19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [19]:
stri="i am good"
print(stri.title())

I Am Good

In [34]:
#20. Find the longest word in a string.

In [20]:
input_string = "This is a sample string to find the longest word"
words = input_string.split()
longest_word = ""

for word in words:
    if len(word) > len(longest_word):
        longest_word = word

print(f"The longest word in the string is: {longest_word}")

The longest word in the string is: longest

In [36]:
#21. Find the shortest word in a string.

In [21]:
input_string = "This is a sample string to find the shortest word"
words = input_string.split()
shortest_word = words[0]  # Initialize with the first word

for word in words:
    if len(word) < len(shortest_word):
        shortest_word = word

print(f"The shortest word in the string is: {shortest_word}")

The shortest word in the string is: a

In [38]:
#22. Reverse the order of words in a string.

In [22]:
input_string = "This is a sample string"
words = input_string.split()
for x in words:
    print(x[::-1])

sihT
si
a
elpmas
gnirts

In [40]:
#23. Check if a string is alphanumeric.

In [24]:
stri="hello12"
print(stri.isalpha())
print(stri.isalpha())
print(stri.isnumeric())
print(stri.isdigit())

False
False
False
False

In [25]:
#24. Extract all digits from a string.
input_string = "I have 3 apples and 2 bananas bought for 55rupees."

digits = ''
for char in input_string:
    if char.isdigit():
        digits += char

print("Digits in the string:", digits)

Digits in the string: 3255

In [26]:
#25. Extract all alphabets from a string.
input_string = "I have 3 apples and 2 bananas."

alpha = ''
for char in input_string:
    if char.isalpha():
        alpha += char

print("Digits in the string:", alpha)

Digits in the string: Ihaveapplesandbananas

In [44]:
#26. Count the number of uppercase letters in a string.

In [27]:
def uccount(text):
    count = 0
    for char in text:
        if char.isupper():
            count += 1
    return count

input_text = "I Like Python"
result = uccount(input_text)
print(f"The number of uppercase letters is: {result}")

The number of uppercase letters is: 3

In [46]:
#27. Count the number of lowercase letters in a string.

In [28]:
def lccount(text):
    count = 0
    for char in text:
        if char.islower():
            count += 1
    return count

input_text = "I Like Python"
result = uccount(input_text)
print(f"The number of lowercase letters is: {result}")

The number of lowercase letters is: 3

In [29]:
#28. Swap the case of each character in a string.

In [30]:
x="HelLo 123 MiKe TAstE"
x.swapcase()

'hELlO 123 mIkE taSTe'

In [50]:
#29. Remove a specific word from a string.

In [31]:
stri="i am not in good mood"
print("Original string :",stri)
word="goodd"
if word in stri:
    
    print(stri.replace(word,''))
    
else:
    print(f"'{word}' is not there.")
print(x)

Original string : i am not in good mood
'goodd' is not there.
HelLo 123 MiKe TAstE

In [32]:
def split_string_into_words(text):
    # Step 1: Use the split() method to split the text into a list of words.
    words_list = text.split()

    # Step 2: Return the list of words.
    return words_list

text = "This is an example sentence example."
result_words = split_string_into_words(text)
x="example"
if x in result_words:
    result_words.remove(x)
print(result_words)
finalstr=' '.join(result_words)
print(finalstr)
# print("List of words:", result_words)

['This', 'is', 'an', 'sentence', 'example.']
This is an sentence example.

In [33]:
def remove_word(text, word):
    words = text.split()  # Split the string into words
    words = [w for w in words if w.lower() != word.lower()]  # Filter out the specific word (case insensitive)
    return ' '.join(words)  # Join the remaining words back into a string

# Example usage:
input_text = "This is a sample sentence with a sentence to remove."
word_to_remove = "sentence"
result = remove_word(input_text, word_to_remove)
print(f"The string after removing '{word_to_remove}':")
print(result)

The string after removing 'sentence':
This is a sample with a to remove.

In [34]:
#30. Check if a string is a valid email address.
import re  # Import the regular expression module

def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'  # Regular expression pattern for a basic email validation
    if re.match(pattern, email):
        return True
    else:
        return False

# Example email addresses
email1 = "abcd99@yahoo.com"

if(is_valid_email(email1)):
    print(f"{email1} is valid")
else:
    print(f"{email1} is not valid")

abcd99@yahoo.com is valid

In [35]:
#31. Extract the username from an email address string.
def extract_username(email):
    username = email.split('@')[0]  # Split the email address at "@" and take the first part
    return username

# Example email address
email = "abcd99@email.com"
result = extract_username(email)
print(result)

abcd99

In [36]:
#32. Extract the domain name from an email address string.
def extract_domain(email):
    domain = email.split('@')[1]  # Split the email address at "@" and take the second part
    return domain

# Example email address
email = "abcd99@email.com"
result = extract_domain(email)
print(result)

email.com

In [37]:
#33. Replace multiple spaces in a string with a single space.
def replace_multiple_spaces(input_string):
    cleaned_string = ' '.join(input_string.split())  # Split the string at spaces and then join using a single space
    return cleaned_string

# Example input string with multiple spaces
input_string = "Hi  Team   , Hope    you    are Doing   well  !"
result = replace_multiple_spaces(input_string)
print(result)

Hi Team , Hope you are Doing well !

In [38]:
#34. Check if a string is a valid URL.
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])  # Check if both scheme and netloc are present
    except ValueError:
        return False

# Example URLs
url = "https://www.example.com"
url2 = "invalid-url"
if(is_valid_url(url)):
    print(f"{url} is valid")
else:
    print(f"{url} is not valid")

https://www.example.com is valid

In [39]:
#35. Extract the protocol (http or https) from a URL string.
def extract_protocol(url):
    # Find the index of the first occurrence of "://"
    protocol_end = url.find("://")

    if protocol_end != -1:
        # Extract the protocol from the URL
        protocol = url[:protocol_end]
        return protocol
    else:
        return None

# Example URL strings
url1 = "https://www.example.com"
url2 = "http://google.com"
url3 = "ftp://ftp.example.com"

# Extract protocols
protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)

# Print extracted protocols
print("Protocol 1:", protocol1)
print("Protocol 2:", protocol2)
print("Protocol 3:", protocol3)

Protocol 1: https
Protocol 2: http
Protocol 3: ftp

In [85]:
#36. Find the frequency of each character in a string.
def char_frequency(string):
    frequency = {}  # Initialize an empty dictionary to store character frequencies

    for char in string:
        if char in frequency:
            frequency[char] += 1
        else:
            frequency[char] = 1

    return frequency

# Example string
stri = "Helloo, world!"

# Get the character frequency
result = char_frequency(stri)

# Display the frequency of each character
for char, freq in result.items():
    print(f"Character '{char}' appears {freq} times.")

Character 'H' appears 1 times.
Character 'e' appears 1 times.
Character 'l' appears 3 times.
Character 'o' appears 3 times.
Character ',' appears 1 times.
Character ' ' appears 1 times.
Character 'w' appears 1 times.
Character 'r' appears 1 times.
Character 'd' appears 1 times.
Character '!' appears 1 times.

In [41]:
#37. Remove all punctuation from a string.
import string

def remove_punctuation(input_string):
    translator = str.maketrans('', '', string.punctuation)  # Create translation table
    return input_string.translate(translator)

input_string = "Hello! i am trying; to remove punctuation?, like commas, periods, and question marks!"

# Driver code to Remove punctuation
result = remove_punctuation(input_string)
print("String without punctuation:")
print(result)

String without punctuation:
Hello i am trying to remove punctuation like commas periods and question marks

In [42]:
#38. Check if a string contains only digits.
s1 = "12345"
s2 = "Hello123"
s3 = "456.789"
print(s1.isdigit())
print(s2.isdigit())
print(s3.isdigit())

True
False
False

In [43]:
def contains_only_digits(input_string):
    return input_string.isdigit()

string1 = "12345"

print(f"'{string1}' contains only digits:", contains_only_digits(s1))

'12345' contains only digits: True

In [44]:
#39. Check if a string contains only alphabets.
def contains_only_digits(input_string):
    return input_string.isalpha()

# Example strings
s1 = "12345"
s2 = "Hello123"
s3 = "this"
# Print the results
print(f"'{s1}' contains only alphabets:", contains_only_digits(s1))
print(f"'{s2}' contains only alphabets:", contains_only_digits(s2))
print(f"'{s3}' contains only alphabets:", contains_only_digits(s3))

'12345' contains only alphabets: False
'Hello123' contains only alphabets: False
'this' contains only alphabets: True

In [45]:
#40. Convert a string to a list of characters.

def convert_char(stri):
    return list(stri)

s1 = "hello"
s2 = "Hello123"
print(convert_char(s1))
print(convert_char(s2))

['h', 'e', 'l', 'l', 'o']
['H', 'e', 'l', 'l', 'o', '1', '2', '3']

In [46]:
#41. Check if two strings are anagrams.
def are_anagrams(str1, str2):
    # Remove spaces and convert strings to lowercase for accurate comparison
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()

    # Sort the characters in both strings and compare
    return sorted(str1) == sorted(str2)

# Example strings
string1 = "dog"
string2 = "god"
string3 = "hello"
string4 = "hlelo"

# Check if strings are anagrams
result1 = are_anagrams(string1, string2)
result2 = are_anagrams(string3, string4)

# Print the results
print(f"'{string1}' and '{string2}' are anagrams:", result1)
print(f"'{string3}' and '{string4}' are anagrams:", result2)

'dog' and 'god' are anagrams: True
'hello' and 'hlelo' are anagrams: True

In [47]:
#42. Encode a string using a Caesar cipher.
def caesar_cipher_encrypt(text, shift):
    encrypted_text = ""

    for char in text:
        # Check if the character is a letter
        if char.isalpha():
            # Determine the character's case (uppercase or lowercase)
            if char.islower():
                # Encrypt lowercase letters
                encrypted_text += chr(((ord(char) - ord('a') + shift) % 26) + ord('a'))
            else:
                # Encrypt uppercase letters
                encrypted_text += chr(((ord(char) - ord('A') + shift) % 26) + ord('A'))
        else:
            # Keep non-alphabetic characters unchanged
            encrypted_text += char

    return encrypted_text

# Example string and shift value
plaintext = "Hello, World!"
shift_value = 1

# Encrypt the plaintext using Caesar cipher
encrypted_text = caesar_cipher_encrypt(plaintext, shift_value)
print("Encrypted text:", encrypted_text)

Encrypted text: Ifmmp, Xpsme!

In [68]:
#43. Decode a Caesar cipher encoded string.
# Define a function to decode a string using a Caesar cipher
def caesar_cipher_decoder(text, shift):
    """
    Decodes a string using a Caesar cipher.

    Args:
        text: The string to decode.
        shift: The number of positions to shift each letter.

    Returns:
        The decoded string.
    """

    # Initialize an empty string to store the decoded text
    decoded_text = ""

    # Loop through each character in the input text
    for char in text:
        # Check if the character is an alphabetic character
        if char.isalpha():
            # Calculate the decoded character using the shift value
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            # If the character is not alphabetic, keep it unchanged
            decoded_char = char

        # Add the decoded character to the decoded text
        decoded_text += decoded_char

    # Return the fully decoded text
    return decoded_text

# Example input
text = "Ifmmp, Xpsme!"
shift = 1

# Call the caesar_cipher_decoder function to decode the input text
decoded_text = caesar_cipher_decoder(text, shift)

# Print the decoded text
print("Decoded text:", decoded_text)

Decoded text: bello, qorld!

In [48]:
#44. Find the most frequent word in a string.
from collections import Counter
import re

def most_frequent_word(text):
    # Tokenize the text into words using regex
    words = re.findall(r'\b\w+\b', text.lower())

    # Count the occurrences of each word
    word_counts = Counter(words)

    # Find the most frequent word
    most_common_word = word_counts.most_common(1)

    return most_common_word[0][0] if most_common_word else None

# Example string
input_text = "This is a sample string. This string contains repeated words like sample, sample, and string."

# Find the most frequent word
most_frequent = most_frequent_word(input_text)
if most_frequent:
    print(f"The most frequent word is '{most_frequent}'")
else:
    print("No words found in the input text.")

The most frequent word is 'sample'

In [70]:
#45. Find all unique words in a string.
import re

def unique_words(input_string):
    # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    # Split the string into words and convert to a set for uniqueness
    words = set(clean_string.split())

    return words

# Example string
input_str = "Hello world, hello there! How's the world?"

# Find unique words
unique_word_set = unique_words(input_str)

# Print the result
print("Unique words:", unique_word_set)

Unique words: {'hows', 'world', 'there', 'the', 'hello'}

In [49]:
#46. Count the number of syllables in a string.
import re

def count_syllables(word):
    # Count vowel groups using regular expression
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)

    return len(vowel_groups)

# Example words
word1 = "abc def"
word2 = "banana"
word3 = "syllable"

# Count syllables
syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)

# Print the results
print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'abc def' has 2 syllables.
'banana' has 3 syllables.
'syllable' has 3 syllables.

In [50]:
#47. Check if a string contains any special characters.
import re

def contains_special_characters(input_string):
    # Define a regular expression pattern to match special characters
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')

    # Use the search() method to find a match
    match = pattern.search(input_string)

    # Return True if a match is found, False otherwise
    return bool(match)

# Example strings
string1 = "Hello, world!"
string2 = "This is a test."
string3 = "Special@Characters"

# Check if strings contain special characters
result1 = contains_special_characters(string1)
result2 = contains_special_characters(string2)
result3 = contains_special_characters(string3)

# Print the results
print(f"'{string1}' contains special characters:", result1)
print(f"'{string2}' contains special characters:", result2)
print(f"'{string3}' contains special characters:", result3)

'Hello, world!' contains special characters: True
'This is a test.' contains special characters: True
'Special@Characters' contains special characters: True

In [51]:
#48. Remove the nth word from a string.
def remove_nth_word(input_string, n):
    # Split the input string into words
    words = input_string.split()

    # Check if n is within a valid range
    if n >= 1 and n <= len(words):
        # Remove the nth word by excluding it from the words list
        removed_word = words.pop(n - 1)

        # Join the remaining words to form the modified string
        modified_string = ' '.join(words)

        return modified_string, removed_word
    else:
        return None, None

# Example string and n value
input_str = "This is an example sentence to test the function."
n_value = 4

# Remove the nth word
modified_str, removed_word = remove_nth_word(input_str, n_value)

# Print the results
print("Original string:", input_str)
if modified_str is not None:
    
    print("Removed word:", removed_word)
    print("Modified string:", modified_str)
else:
    print("Invalid n value.")

Original string: This is an example sentence to test the function.
Removed word: example
Modified string: This is an sentence to test the function.

In [52]:
#49. Insert a word at the nth position in a string.
def insert_word_at_position(original_string, word_to_insert, position):
    # Ensure the position is within the string length
    if position <= len(original_string):
        # Insert the word at the specified position
        modified_string = original_string[:position] + word_to_insert + original_string[position:]
        return modified_string
    else:
        # If the position is out of range, append the word to the end of the string
        return original_string + word_to_insert

# Example string
input_string = "This is a sample string."

# Word to insert
word = "new"

# Insert the word at the 5th position
position_to_insert = 17

# Insert the word at the specified position
result = insert_word_at_position(input_string, word, position_to_insert)
print("Original string:", input_string)
print("Modified string:", result)

Original string: This is a sample string.
Modified string: This is a sample newstring.

In [53]:
#50. Convert a CSV string to a list of lists.

def csv_string_to_list(csv_string):
    # Split the CSV string into lines
    lines = csv_string.split('\n')

    # Initialize an empty list to store the result
    result = []

    for line in lines:
        # Split each line into fields using comma as the delimiter
        fields = line.split(',')

        # Append the fields to the result list as a row
        result.append(fields)

    return result

# Example CSV string
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

# Convert CSV string to a list of lists
list_of_lists = csv_string_to_list(csv_data)

# Print the result
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

# List Based Practice Problem :

In [54]:
# 1. Create a list with integers from 1 to 10.
#list comprehension
l = [i for i in range(1,10)]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [55]:
# 2. Find the length of a list without using the `len()` function.
def find_list_length(lst):
    count = 0
    for _ in lst:
        count += 1
    return count

# list
my_list = [1, 2, 3, 4, 5]

list_length = find_list_length(my_list)
print("Length of the list:", list_length)

Length of the list: 5

In [56]:
# 3. Append an element to the end of a list.
l=[1,2,3,4,5]
print("Original list :",l)
new=10
l.append(new)
print("Updated list :",l)

Original list : [1, 2, 3, 4, 5]
Updated list : [1, 2, 3, 4, 5, 10]

In [57]:
# 4. Insert an element at a specific index in a list.
l=[1,2,3,4,5]
print("Original list :",l)
new=10
l.insert(1,new)
print("Updated list :",l)

Original list : [1, 2, 3, 4, 5]
Updated list : [1, 10, 2, 3, 4, 5]

In [58]:
# 5. Remove an element from a list by its value.
l=[1,2,3,4,5,10]
print("Original list :",l)
remove=1
l.remove(remove)
print(f"afetr removing '{remove}' :",l)

Original list : [1, 2, 3, 4, 5, 10]
afetr removing '1' : [2, 3, 4, 5, 10]

In [59]:
# 6. Remove an element from a list by its index.
l=[1,2,3,4,5,6]
print("Original list :",l)
idx=3
l.pop(idx)
print(f"afetr removing element from pos '{idx}' :",l)

Original list : [1, 2, 3, 4, 5, 6]
afetr removing element from pos '3' : [1, 2, 3, 5, 6]

In [60]:
# 7. Check if an element exists in a list.
def ele_exists(lst,ele):
    if ele in lst:
        print(f"Element {ele} exists")
    else:
        print(f"Element {ele} does not exists")
lst=[1,2,3,4,5,6,7,8,9,10]

ele=15

ele_exists(lst,ele)

Element 15 does not exists

In [61]:
# 8. Find the index of the first occurrence of an element in a list.
list1 = [10, 20, 30, 40, 50, 30]

# Element to find the index of
key = 30

# Find the index of the first occurrence of the element
index = list1.index(key)

# Print the index
print(f"The index of {key} is {index}")

The index of 30 is 2

In [62]:
# 9. Count the occurrences of an element in a list.

list2 = [10, 20, 30, 40, 50, 30, 30]

# Element to count occurrences of
element = 30

# Count the occurrences of the element
count = list2.count(element)

# Print the count
print(f"The element {element} occurs {count} times in the list.")

The element 30 occurs 3 times in the list.

In [63]:
# 10. Reverse the order of elements in a list.
list3 = [1,2,3,4,5,6,7,8,9,10]

# Reverse the order of elements in the list
list3.reverse()

# Print the reversed list
print("Reversed list:", list3)

Reversed list: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [64]:
# 11. Sort a list in ascending order.
l=[2,1,4,3,6,2,8,3,6]
l.sort()
print("sorted list",l)

sorted list [1, 2, 2, 3, 3, 4, 6, 6, 8]

In [65]:
# 12. Sort a list in descending order.
l=[2,1,4,3,6,2,8,3,6]
l.sort(reverse=True)
print("sorted list in reverse order",l)

sorted list in reverse order [8, 6, 6, 4, 3, 3, 2, 2, 1]

In [66]:
# 13. Create a list of even numbers from 1 to 20.
l=[]
for i in range(1,20):
    if i%2==0:
        l.append(i)
print(l)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [67]:
l=[]
for i in range(2,20,2):
    l.append(i)
print(l)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [68]:
# list comprehension
even = [x for x in range(2, 21, 2)]

print("List of even numbers:", even)

List of even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [69]:
# 14. Create a list of odd numbers from 1 to 20.
l=[]
for i in range(1,20):
    if i%2!=0:
        l.append(i)
print(l)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [70]:
# 15. Find the sum of all elements in a list.
l=[2, 4, 6, 8, 10, 12, 14, 16, 18]
add=0
for i in range(len(l)):
    add=add+i
print(add)

36

In [71]:
# 16. Find the maximum value in a list.
l=[39, 20, 4, 6, 80, 3, 12, 14, 16, 108, 10]
big=l[0]
for i in range(len(l)):
    if(l[i]>big):
        big=l[i]

print("Max value :",big)
print("Max() : ",max(l))

Max value : 108
Max() :  108

In [72]:
# 17. Find the minimum value in a list.
l=[39, 20, 4, 6, 80, 3, 12, 14, 16, 108, 10]
small=l[0]
for i in range(len(l)):
    if(l[i]<small):
        small=l[i]

print("Min value :",small)
print("Min() : ",min(l))

Min value : 3
Min() :  3

In [73]:
# 18. Create a list of squares of numbers from 1 to 10.
square=[i**2 for i in range(1,11)]
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [74]:
l=[]
for i in range(1,11):
    l.append(i**2)

print("Squares :",l)

Squares : [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [75]:
# 19. Create a list of random numbers.
import random

# Create a list of random integers between 1 and 100
random_integers = [random.randint(1, 100) for x in range(10)]

# Print the list of random integers
print("List of random integers:", random_integers)

List of random integers: [99, 61, 47, 60, 70, 72, 20, 57, 73, 60]

In [76]:
for x in range(random.randint(1,20)):
    print(x,end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17

In [77]:
# 20. Remove duplicates from a list.

my_list = [ 1,2,3,5,2,6,4,3,1,3]
l=list(set(my_list))
print(l)

[1, 2, 3, 4, 5, 6]

In [78]:
# 21. Find the common elements between two lists.
l1 = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7, 8, 8, 9, 10, 10]
l2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

common = set(l1).intersection(set(l2))

print("Common elements:", list(common))
# my_list1 = [ 1,2,3,4]
# my_list2 = [ 21,22,33,4,55,3]
# [i for i in my_list1 if i in my_list2]

Common elements: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [79]:
# 22. Find the difference between two lists.
my_list1 = [1, 2, 3, 4]
my_list2 = [2, 3, 4, 6, 5]

difference = list(set(my_list1).difference(my_list2))

print("Difference between lists:", difference)

Difference between lists: [1]

In [80]:
# 23. Merge two lists.
l1= [1, 2, 4, 6, 8, 5]
l2= [1, 5, 8, 3]
l=l1+l2
print("Merged list :",l)

Merged list : [1, 2, 4, 6, 8, 5, 1, 5, 8, 3]

In [81]:
# 24. Multiply all elements in a list by 2.
l1= [1, 2, 4, 6, 8, 10]
for i in range(len(l1)):
    print(l1[i]*2,end=' ')

2 4 8 12 16 20

In [82]:
# 25. Filter out all even numbers from a list.
x=[1, 2, 4, 6, 8, 5, 1, 5, 8, 3]
for i in range(len(x)):
    if(x[i]%2==0):
        print(x[i])

2
4
6
8
8

In [83]:
# 26. Convert a list of strings to a list of integers.
string_list = ["15", "20", "25", "30", "35"]

#list comprehension
intlist = [int(x) for x in string_list]

# Print the list of integers
print("List of integers:", intlist)

List of integers: [15, 20, 25, 30, 35]

In [2]:
# 27. Convert a list of integers to a list of strings.
list1= [1234,123,34,432]
list2 = []
for i in list1:
    string = str(i)
    list2.append(string)
print("integers into strings:", list2)
#Restart kernel(str is used somewhere above)

integers into strings: ['1234', '123', '34', '432']

In [3]:
# 28. Flatten a nested list.
nested_list = [[1,2,3],[23],[2,5],[100,19]]

extracted_list = []
for i in nested_list:
    extracted_list.extend(i)
print(extracted_list)

[1, 2, 3, 23, 2, 5, 100, 19]

In [4]:
# 29. Create a list of the first 10 Fibonacci numbers.
def fibonacci(n):
    fib_series = [0, 1]
    for i in range(2, n):
        fib_series.append(fib_series[i - 1] + fib_series[i - 2])
    return fib_series[0:10]

# Generate the first 10 Fibonacci numbers
first_10_fibonacci = fibonacci(10)
print("The first 10 fibonacci numbers :",first_10_fibonacci)

The first 10 fibonacci numbers : [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [5]:
# 30. Check if a list is sorted.
def is_sorted(arr):
    return arr == sorted(arr)

# Example list
my_list = [1, 3, 5,9, 7, 9]

my_list2 = [1, 3, 5, 7, 9]

# Check if the list is sorted
print(is_sorted(my_list))  
print(is_sorted(my_list2))

False
True

In [6]:
# 31. Rotate a list to the left by `n` positions.
def rotate_left(arr, n):
    n = n % len(arr)  # Adjust n in case it's greater than the list length
    return arr[n:] + arr[:n]

# Example list
my_list = [1, 2, 3, 4, 5]

# Rotate the list to the left by 2 positions
rotated_list = rotate_left(my_list, 2)
print(rotated_list)

[3, 4, 5, 1, 2]

In [7]:
# 32. Rotate a list to the right by `n` positions.
def rotate_right(lst, n):
    if not lst:
        return lst

    n = n % len(lst)
    return lst[-n:] + lst[:-n]

# Example list
my_list = [4, 5, 1, 2, 3]

# Rotate the list to the right by 2 positions
rotated_list = rotate_right(my_list, 2)
print(rotated_list)

[2, 3, 4, 5, 1]

In [8]:
# 33. Create a list of prime numbers up to 50.
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Generate prime numbers up to 50
prime_50 = [num for num in range(2, 51) if is_prime(num)]
print(prime_50)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [9]:
# 34. Split a list into chunks of size `n`.
list1 = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]
n = 3
chunks = int(len(list1)/3)
idx = 0

for i in range(3):
    print(list1[idx:n])
    idx = n
    n+=3

[2, 3, 5]
[7, 11, 13]
[17, 19, 23]

In [10]:
# 35. Find the second largest number in a list.
def split_list_into_chunks(lst, n):
    return [lst[i:i + n] for i in range(0, len(lst), n)]

# Example list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Split the list into chunks of size 3
chunked_list = split_list_into_chunks(my_list, 4)
print(chunked_list)

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10]]

In [11]:
# 36. Replace every element in a list with its square.
def square(lst):
    return [x ** 2 for x in lst]

# Example list
my_list = [1, 2, 3, 4, 5]

# Replace every element in the list with its square
squared_list = square(my_list)
print(squared_list)

[1, 4, 9, 16, 25]

In [12]:
# 37. Convert a list to a dictionary where list elements become keys and their indices become values.
def list_to_dictionary(lst):
    return {value: index for index, value in enumerate(lst)}

# Example list
my_list = ['apple', 'ball', 'cat', 'doll']

# Convert the list to a dictionary with elements as keys and indices as values
result_dict = list_to_dictionary(my_list)
print(result_dict)

{'apple': 0, 'ball': 1, 'cat': 2, 'doll': 3}

In [13]:
# 38. Shuffle the elements of a list randomly.
import random

# Example list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Shuffle the list randomly
random.shuffle(my_list)

# Print the shuffled list
print("Shuffled list:", my_list)

Shuffled list: [4, 2, 9, 1, 10, 5, 7, 6, 3, 8]

In [14]:
# 39. Create a list of the first 10 factorial numbers.
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

# Generate the first 10 factorial numbers
fact = [factorial(i) for i in range(10)]

print(fact)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [15]:
# 40. Check if two lists have at least one element in common.
def common_elements_exist(list1, list2):
    set1 = set(list1)
    set2 = set(list2)
    return len(set1.intersection(set2)) > 0

# Example lists
list_a = [1, 2, 3, 4, 5]
list_b = [6, 7, 8, 9, 10,4]

# Check if common elements exist between the lists
result = common_elements_exist(list_a, list_b)
print(result)

True

In [16]:
# 41. Remove all elements from a list.
my_list = [1, 2, 3, 4, 5]

my_list.clear()
print(my_list)

[]

In [17]:
# 42. Replace negative numbers in a list with 0.
my_list = [1, -2, 3, -4, 5, -6]

for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0

print(my_list)

[1, 0, 3, 0, 5, 0]

In [18]:
# 43. Convert a string into a list of words.
my_string = "Convert a string into a list of words"

# Convert the string into a list of words
word_list = my_string.split()
print(word_list)

['Convert', 'a', 'string', 'into', 'a', 'list', 'of', 'words']

In [19]:
# 44. Convert a list of words into a string.
word_list = ['Convert', 'a', 'string', 'into', 'a', 'list', 'of', 'words']
# Convert the string into a list of words
string = ' '.join(word_list)
print(string)

Convert a string into a list of words

In [20]:
# 45. Create a list of the first `n` powers of 2.
def powers_of_2(n):
    return [2 ** i for i in range(n)]

# Generate the first n powers of 2
n = 10  # Change n to the desired number of powers
powers_list = powers_of_2(n)
print(powers_list)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [21]:
# 46. Find the longest string in a list of strings.
string_list = ['apple', 'banana', 'orange', 'strawberry', 'kiwi']

longest_string = max(string_list, key=len)
print(longest_string)

strawberry

In [22]:
# 47. Find the shortest string in a list of strings.
string_list = ['apple', 'banana', 'orange', 'strawberry', 'kiwi']

small_string = min(string_list, key=len)
print(small_string)

kiwi

In [23]:
# 48. Create a list of the first `n` triangular numbers.
def triangular_numbers(n):
    return [(i * (i + 1)) // 2 for i in range(1, n + 1)]

n = 7
triangular_list = triangular_numbers(n)
print(triangular_list)

[1, 3, 6, 10, 15, 21, 28]

In [24]:
# 49. Check if a list contains another list as a subsequence.
def is_subsequence(main_list, subsequence):
    # Initialize indices for both lists
    main_index = 0
    sub_index = 0

    # Iterate through the main list and subsequence to find a match
    while main_index < len(main_list) and sub_index < len(subsequence):
        # If elements match, move to the next element in subsequence
        if main_list[main_index] == subsequence[sub_index]:
            sub_index += 1
        main_index += 1

    # If subsequence index reaches its length, it's a subsequence
    return sub_index == len(subsequence)

main_list = [1, 2, 3, 4, 5, 6, 7]
sub_list = [3, 5, 7]

if is_subsequence(main_list, sub_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list contains the subsequence.

In [25]:
# 50. Swap two elements in a list by their indices.
my_list = [1, 2, 3, 4, 5]

index1 = 1
index2 = 3

# Swap the elements at the specified indices
temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp

# Print the list after swapping
print("List after swapping elements:", my_list)

List after swapping elements: [1, 4, 3, 2, 5]

# Tuple Based Practice Problem :

In [26]:
#1. Create a tuple with integers from 1 to 5.
t = tuple(range(1, 6))

print(type(t))
print(t)

t2 = (1, 2, 3, 4, 5)
print(t2)

<class 'tuple'>
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)

In [27]:
#2. Access the third element of a tuple.
t2 = (1, 2, 3, 4, 5)
print("third element ",t2[2])

third element  3

In [28]:
#3. Find the length of a tuple without using the `len()` function.
t = (10, 20, 30, 40, 50)
count = 0
for i in t:
    count += 1

print("The length of the tuple is:", count)

The length of the tuple is: 5

In [29]:
#4. Count the occurrences of an element in a tuple.
t=(1,2,4,2,5,6,2,6,2)
x=2
count=0
for i in t:
    if i == x:
        count+=1
print(f"The element {x} appears {count} times in the tuple.")

The element 2 appears 4 times in the tuple.

In [30]:
#5. Find the index of the first occurrence of an element in a tuple.
my_tuple = (10, 20, 30, 20, 40, 50)

element = 20

if element in my_tuple:
    index = my_tuple.index(element)
    print(f"The index of the first occurrence of {element} is: {index}")
else:
    print(f"{element} not found in the tuple")

The index of the first occurrence of 20 is: 1

In [31]:
#6. Check if an element exists in a tuple.
my_tuple = (10, 20, 30, 20, 40, 50)

element = 40

if element in my_tuple:
    print(f"The {element} is present in the tuple")
else:
    print(f"{element} not found in the tuple")

The 40 is present in the tuple

In [32]:
# 7. Convert a tuple to a list.
my_tuple = (1, 2, 3, 4, 5)

my_list = list(my_tuple)

print("Tuple:", my_tuple)
print("List:", my_list)

Tuple: (1, 2, 3, 4, 5)
List: [1, 2, 3, 4, 5]

In [33]:
#8. Convert a list to a tuple.
l=[1, 2, 3, 4, 5]
t=tuple(l)
print("list",l)
print("tuple",t)

list [1, 2, 3, 4, 5]
tuple (1, 2, 3, 4, 5)

In [34]:
#9. Unpack the elements of a tuple into variables.
my_tuple = (10, 20, 30)
a, b, c = my_tuple
print(a) 
print(b) 
print(c)

10
20
30

In [35]:
#10. Create a tuple of even numbers from 1 to 10.
even_t = tuple(i for i in range(2, 11, 2))

print(even_t)

(2, 4, 6, 8, 10)

In [36]:
#11. Create a tuple of odd numbers from 1 to 10.
odd_t = tuple(i for i in range(1, 11, 1))

print(odd_t)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [51]:
#12. Concatenate two tuples.
t1=(1,2,3)
t2=(4,5,6)
tup=t1+t2
print(tup)

(1, 2, 3, 4, 5, 6)

In [38]:
#13. Repeat a tuple three times.
t=(1, 2, 3, 4, 5, 6)
for i in range(3):
    print(i,"th",t)

0 th (1, 2, 3, 4, 5, 6)
1 th (1, 2, 3, 4, 5, 6)
2 th (1, 2, 3, 4, 5, 6)

In [39]:
#14. Check if a tuple is empty.
t1=(1, 2, 3, 4, 5, 6)
t2=()

my_tuple = ()

# Check if the tuple is empty
if not t1:
    print("The tuple-t1 is empty")
else:
    print("The tuple-t1 is not empty")
if not t2:
    print("The tuple-t2 is empty")
else:
    print("The tuple-t2 is not empty")

The tuple-t1 is not empty
The tuple-t2 is empty

In [40]:
#15. Create a nested tuple.
t=(1,2,3,(4,5,(1,2,3),6,(7,8,9)))
t

(1, 2, 3, (4, 5, (1, 2, 3), 6, (7, 8, 9)))

In [41]:
#16. Access the first element of a nested tuple.
t=(1, 2, 3, (4, 5, (1, 2, 3), 6, (7, 8, 9)))
t[0]

1

In [42]:
#17. Create a tuple with a single element.
t=(1,)
t
type(t)

tuple

In [43]:
#18. Compare two tuples.
t1 = (1, 2, 3)
t2 = (1, 2, 4)

# Step 2: Compare the two tuples using comparison operators
print("t1 == t2:", t1 == t2) 
print("t1 != t2:", t1 != t2)   
print("t1 < t2:", t1 < t2)    
print("t1 <= t2:", t1 <= t2)   
print("t1 > t2:", t1 > t2)     
print("t1 >= t2:", t1 >= t2)

t1 == t2: False
t1 != t2: True
t1 < t2: True
t1 <= t2: True
t1 > t2: False
t1 >= t2: False

In [44]:
#19. Delete a tuple.
t=(1,2,3)
del t
#print(t)

In [45]:
#20. Slice a tuple.
t1=(1, 2, 3, 4, 5, 6)
t2=t1[2:5]
print("original tuple",t1)
print("sliced tuple",t2)

original tuple (1, 2, 3, 4, 5, 6)
sliced tuple (3, 4, 5)

In [46]:
#21. Find the maximum value in a tuple.
t=(1, 2, 3, 4, 5, 6)
tmax=max(t)
print("max",tmax)

max 6

In [47]:
#22. Find the minimum value in a tuple.
t=(1, 2, 3, 4, 5, 6)
tmin=min(t)
print("min",tmin)

min 1

In [2]:
# 23. Convert a string to a tuple of characters.
# Step 1: Create a string
my_string = "Hello, World!"

# Step 2: Convert the string to a tuple of characters
tuple_of_characters = tuple(my_string)

# Step 3: Print the tuple of characters
print("Tuple of characters:", tuple_of_characters)
#Restart Kernel

Tuple of characters: ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

In [4]:
#24. Convert a tuple of characters to a string.
char_tuple = ('H', 'e', 'l', 'l', 'o')

# Convert the tuple of characters to a string using type casting
result_string = ''.join(char_tuple)

print(result_string)

Hello

In [5]:
#25. Create a tuple from multiple data types.
multi_tuple = ("welcome", "robot", 314, False, 12.3)

print(multi_tuple)

('welcome', 'robot', 314, False, 12.3)

In [6]:
#26. Check if two tuples are identical.
t1=(1,2,3,4)
t2=(2,3,4)
t3=(1,2,3,4)

print(t1==t2)
print(t2==t3)
print(t1==t3)

False
False
True

In [7]:
#27. Sort the elements of a tuple.
t1 = (8,3,6,4,0,1,3,4,1,2,3)
sorted(t1)

[0, 1, 1, 2, 3, 3, 3, 4, 4, 6, 8]

In [8]:
# 28. Convert a tuple of integers to a tuple of strings.
tuple1 = (8,3,6,4,0,1,3,4,1,2,3)

tuple2 = tuple(str(item) for item in tuple1)

print(tuple2)

('8', '3', '6', '4', '0', '1', '3', '4', '1', '2', '3')

In [9]:
#29. Convert a tuple of strings to a tuple of integers.
tuple1 = ('8', '3', '6', '4', '0', '1', '3', '4', '1', '2', '3')

tuple2 = tuple(int(item) for item in tuple1)

print(tuple2)

(8, 3, 6, 4, 0, 1, 3, 4, 1, 2, 3)

In [10]:
#30. Merge two tuples.
tuple1 = (8,3,6,4,0,1,3,4,1,2,3)

tuple2 = (3,4,6,7)

print(tuple1 + tuple2)

(8, 3, 6, 4, 0, 1, 3, 4, 1, 2, 3, 3, 4, 6, 7)

In [11]:
#31. Flatten a nested tuple.
tuple1 = ((5,1, 2,6), (5,6,8,3, 4, 5), (9,6,7, 8))

tuple2 = []
for t in tuple1:
    tuple2.extend(t)

print(tuple(tuple2))

(5, 1, 2, 6, 5, 6, 8, 3, 4, 5, 9, 6, 7, 8)

In [12]:
#32. Create a tuple of the first 5 prime numbers.
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]
prime_numbers_tuple = tuple(prime_numbers_list)

print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

In [13]:
#33. Check if a tuple is a palindrome.
tuple1 = (1,2,3,2,1)
tuple2 = (14,5,6,7,8)

print(tuple1 == tuple1[::-1])
print(tuple2 == tuple2[::-1])

True
False

In [14]:
#34. Create a tuple of squares of numbers from 1 to 5.
tuple(i**2 for i in range(1,6))

(1, 4, 9, 16, 25)

In [15]:
#35. Filter out all even numbers from a tuple.
t1 = (5, 1, 2, 6, 5, 6, 8, 3, 4, 5, 9, 6, 7, 8)
for i in t1:
    if i%2==0:
        print(i)

2
6
6
8
4
6
8

In [16]:
#36. Multiply all elements in a tuple by 2.
tuple1 = (5, 1, 2, 6, 5, 6, 8, 3, 4, 5, 9, 6, 7, 8)

tuple(i*2 for i in tuple1)

(10, 2, 4, 12, 10, 12, 16, 6, 8, 10, 18, 12, 14, 16)

In [17]:
#37. Create a tuple of random numbers.
import random

tuple(random.randint(1,100) for i in range(10))

(58, 72, 76, 50, 17, 1, 95, 9, 17, 59)

In [18]:
#38. Check if a tuple is sorted.

tuple1 = (65, 1, 84, 30, 4, 72, 34, 46, 2, 17)
tuple2 = (1, 2, 4, 17, 30, 34, 46, 65, 72, 84)

print(tuple1 == tuple(sorted(tuple1)))
print(tuple2 == tuple(sorted(tuple2)))

False
True

In [19]:
#39. Rotate a tuple to the left by `n` positions.
tuple1 = (1, 2, 3, 4, 5)
shift = 2

n = shift % len(tuple1)
rotated_tuple = tuple1[n:] + tuple1[:n]

print(rotated_tuple)

(3, 4, 5, 1, 2)

In [20]:
#40. Rotate a tuple to the right by `n` positions.
tuple1 = (1, 2, 3, 4, 5)
shift = 2

n = shift % len(tuple1)
rotated_tuple = tuple1[-n:] + tuple1[:-n]

print(rotated_tuple)

(4, 5, 1, 2, 3)

In [21]:
#41. Create a tuple of the first 5 Fibonacci numbers.
n= 5
fibonacci = [0, 1]
while len(fibonacci) < n:
    next_number = fibonacci[-1] + fibonacci[-2]
    fibonacci.append(next_number)

print(tuple(fibonacci))

(0, 1, 1, 2, 3)

In [22]:
#42. Create a tuple from user input.

input_str = input("Enter elements")
input_list = input_str.split(',')
user_tuple = tuple(input_list)

print("User input tuple:", user_tuple)

Enter elements3,5,1,4,5,3,5,33,4
User input tuple: ('3', '5', '1', '4', '5', '3', '5', '33', '4')

In [23]:
#43. Swap two elements in a tuple.
my_tuple = (1, 2, 3, 4, 5)

# Swap elements at indices 1 and 3
index1 = 1
index2 = 3
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)

# Print the swapped tuple
print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

In [24]:
#44. Reverse the elements of a tuple.
my_tuple = (1, 2, 3, 4, 5)

# Reverse the elements using slicing
reversed_tuple = my_tuple[::-1]

print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

In [25]:
#45. Create a tuple of the first `n` powers of 2.
n = 10

pow_tuple = tuple(2 ** i for i in range(n))
print(pow_tuple)

(1, 2, 4, 8, 16, 32, 64, 128, 256, 512)

In [26]:
#46. Find the longest string in a tuple of strings.
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

# Find the longest string in the tuple
longest_string = max(string_tuple, key=len)

# Print the longest string
print("Longest string:", longest_string)

Longest string: watermelon

In [27]:
#47. Find the shortest string in a tuple of strings.
# Create a tuple of strings
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

# Find the shortest string in the tuple
shortest_string = min(string_tuple, key=len)

# Print the shortest string
print("Shortest string:", shortest_string)

Shortest string: kiwi

In [28]:
#48. Create a tuple of the first `n` triangular numbers.
n = 10

trianglur = []
for k in range(1, n+1):
    count = 0
    for i in range(1, k):
        for j in range(1, i):
            count +=1
    if count > 0:
        trianglur.append(count)
print(tuple(trianglur))

(1, 3, 6, 10, 15, 21, 28, 36)

In [29]:
#49. Check if a tuple contains another tuple as a subsequence.
tuple1 = (1, 2, 3, 4, 5, 6, 7, 8, 9)
tuple2 = (3, 4, 5)

t2_len = len(tuple2)
for i in range(len(tuple1) - t2_len + 1):
    if tuple1[i:i+t2_len] == tuple2:
        print("yes, tuple2 is a subsequence of tuple1")

yes, tuple2 is a subsequence of tuple1

In [30]:
#50. Create a tuple of alternating 1s and 0s of length `n`.
n = 10

tuple(i % 2 for i in range(n))

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

# Set Based Practice Problems :

In [31]:
#1. Create a set with integers from 1 to 5.
s={i for i in range(1,6)}
print(s)

{1, 2, 3, 4, 5}

In [32]:
#2. Add an element to a set.
s.add(6)
s

{1, 2, 3, 4, 5, 6}

In [33]:
#3. Remove an element from a set.
s.remove(4)
s

{1, 2, 3, 5, 6}

In [34]:
#4. Check if an element exists in a set.
c=int(input("Enter element to check:"))
if(c in s):
    print(c,"exists in set",s)
else:
    print(c,"doesn't exists in set",s)

Enter element to check:6
6 exists in set {1, 2, 3, 5, 6}

In [35]:
#5. Find the length of a set without using the `len()` function.
my_set = {1, 2, 3, 4, 5}

count = 0
for _ in my_set:
    count += 1
print("Length of the set:", count)

Length of the set: 5

In [36]:
#6. Clear all elements from a set.
my_set = {1, 2, 3, 4, 5}
print(my_set)
my_set.clear()
print(my_set)

{1, 2, 3, 4, 5}
set()

In [37]:
#7. Create a set of even numbers from 1 to 10.
s={0}
print(type(s))
s.clear()
for i in range (1,21):
    if i%2==0:
        s.add(i)
s

<class 'set'>

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [38]:
#8. Create a set of odd numbers from 1 to 10.
s={0}
print(type(s))
s.clear()
for i in range (1,20):
    if i%2!=0:
        s.add(i)
s

<class 'set'>

{1, 3, 5, 7, 9, 11, 13, 15, 17, 19}

In [39]:
#9. Find the union of two sets.
s1={1,2,3}
s2={4,5,6}
print(s1.union(s2))

{1, 2, 3, 4, 5, 6}

In [40]:
#10. Find the intersection of two sets.
s1={1,2,3}
s2={4,3,5,1,6}
print(s1.intersection(s2))

{1, 3}

In [41]:
#11. Find the difference between two sets.
s1={1,5,6,1,2,1,1}
s2={4,5,6,7,1}
print(s1.difference(s2))

{2}

In [42]:
#12. Check if a set is a subset of another set.
s1={1,2,3}
s2={4,5,2,6,1,3}
print(s1.issubset(s2))

True

In [43]:
#13. Check if a set is a superset of another set.
set1 = {1,2, 3,4, 5,6,7, 8, 9,10}
set2 = {1, 2, 3, 4, 5, 7, 9}

is_superset = set1.issuperset(set2)
print(is_superset)
if is_superset:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

True
set1 is a superset of set2

In [44]:
#14. Create a set from a list.
my_list = [1, 2, 3, 4, 5, 6]

my_set = set(my_list)

print("Original List:", my_list)
print("Set from List:", my_set)

Original List: [1, 2, 3, 4, 5, 6]
Set from List: {1, 2, 3, 4, 5, 6}

In [45]:
#15. Convert a set to a list.
my_set = {1, 2, 3, 4, 5, 6}
my_list = list(my_set)
print(my_list)

[1, 2, 3, 4, 5, 6]

In [46]:
#16. Remove a random element from a set.
my_set = {1, 2, 3, 4, 5, 6}
my_set.remove(5)
print(my_set)

{1, 2, 3, 4, 6}

In [47]:
#17. Pop an element from a set.
my_set = {1, 2, 3, 4, 5, 6}
my_set.pop()
print(my_set)

{2, 3, 4, 5, 6}

In [48]:
#18. Check if two sets have no elements in common.
s1={1,2,3}
s2={4,3,5,1,6}
if(s1.intersection(s2)):
    print("sets have common elements",s1.intersection(s2))
else:
    print("No common elements")

sets have common elements {1, 3}

In [49]:
#19. Find the symmetric difference between two sets.
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 4, 5, 6, 7, 8}

sd = set1 ^ set2

print("Symmetric Difference:", sd)

Symmetric Difference: {3, 6, 7, 8}

In [50]:
#20. Update a set with elements from another set.
set1 = {1, 2, 3,5,7,9,8}
print("Set 1:", set1)

set2 = {3, 4, 55}
print("Set 2:", set2)

set1.update(set2)
print("Updated Set 1:", set1)

Set 1: {1, 2, 3, 5, 7, 8, 9}
Set 2: {3, 4, 55}
Updated Set 1: {1, 2, 3, 4, 5, 7, 8, 9, 55}

In [51]:
#21. Create a set of the first 5 prime numbers.
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True


prime_set = set()
num = 2
while len(prime_set) < 5:
    if is_prime(num):
        prime_set.add(num)
    num += 1

print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

In [52]:
#22. Check if two sets are identical.
set1 = {1, 2, 3,5,7,9,8}
set2 = {5, 3, 4}
set3 = {3, 4, 5}

if set1 == set2:
    print("set1 & set2 are identical")
    
if set2 == set3:
    print("set2 & set3 are identical")

set2 & set3 are identical

In [53]:
#23. Create a frozen set.
set1 = {1, 2, 3,5,7,9,8}

frozen = frozenset(set1)

print(frozen)

frozenset({1, 2, 3, 5, 7, 8, 9})

In [54]:
#24. Check if a set is disjoint with another set.
set1 = {1, 2, 3,5,7,9,8}
set2 = {0, 4, 6}

set1.isdisjoint(set2)

True

In [55]:
#25. Create a set of squares of numbers from 1 to 5.
{i**2 for i in range(1,6)}

{1, 4, 9, 16, 25}

In [56]:
#26. Filter out all even numbers from a set.
set1 = {1, 4, 9, 16, 25, 36, 49, 64, 81}

even_set = {i for i in set1 if i % 2 == 0 }

print(even_set)

{64, 16, 4, 36}

In [57]:
#27. Multiply all elements in a set by 2.
set1 = {1, 4, 9, 16, 25, 36, 49, 64, 81}

mul_set = {i *2 for i in set1}

print(mul_set)

{128, 32, 2, 98, 162, 8, 72, 18, 50}

In [58]:
#28. Create a set of random numbers.
import random

random_set = {random.randint(10,100) for i in range(12)}

print(random_set)

{64, 37, 70, 42, 11, 76, 51, 23, 55, 56, 26, 29}

In [59]:
#29. Check if a set is empty.
set1 = {96, 67, 42, 75, 47, 48, 81, 80, 54, 26, 63}
set2 = {}

def check_empty(set1):
    if set1:
        print("Set is NOT empty")
    else:
        print("Set is empty")

check_empty(set1)
check_empty(set2)

Set is NOT empty
Set is empty

In [60]:
#30. Create a nested set (hint: use frozenset).
set1 = {5, 4, 1, 9, 0}
set2 = {6, 9, 2, 3, 10}

frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)
nested_set = {frozen_set1, frozen_set2}
print("Nested Set:", nested_set)

Nested Set: {frozenset({2, 3, 6, 9, 10}), frozenset({0, 1, 4, 5, 9})}

In [61]:
#31. Remove an element from a set using the discard method.
set1 = {96, 67, 42, 75, 47, 48, 81, 80, 54, 26, 63}

set1.discard(75)

print(set1)

{96, 67, 42, 47, 48, 81, 80, 54, 26, 63}

In [62]:
#32. Compare two sets.
set1 = {5, 4, 1, 9, 0}
set2 = {6, 9, 2, 3, 10}

if set1 == set2:
    print("Sets are equal")
else:
    print("Sets are NOT equal")

Sets are NOT equal

In [63]:
#33. Create a set from a string.
inp_string = "This will be converted to set"

set1 = set(inp_string)

print(set1)

{'w', 'l', 'i', 'h', 'c', 'v', 'r', 'n', 'T', 'b', 'e', ' ', 't', 'o', 's', 'd'}

In [64]:
#34. Convert a set of strings to a set of integers.
str_set = {"14","6","4","8","98","34"}

int_set = {int(i) for i in str_set}

print(int_set)

{98, 34, 4, 6, 8, 14}

In [65]:
#35. Convert a set of integers to a set of strings.
int_set = {34, 98, 4, 6, 8, 14}

str_set = {str(i) for i in int_set}

print(str_set)

{'6', '98', '34', '4', '8', '14'}

In [66]:
#36. Create a set from a tuple.
tup_set = tuple((34, 98, 4, 6, 8, 14))

set1 = set(tup_set)

print(set1)

{34, 98, 4, 6, 8, 14}

In [67]:
#37. Convert a set to a tuple.
tup_set = {34, 98, 4, 6, 8, 14}

tup = tuple(tup_set)

print(tup)

(34, 98, 4, 6, 8, 14)

In [68]:
#38. Find the maximum value in a set.
set1 = {96, 67, 42, 75, 47, 48, 81, 80, 54, 26, 63}

print("Maximum val in set: ", max(set1))

Maximum val in set:  96

In [69]:
#39. Find the minimum value in a set.
set1 = {96, 67, 42, 75, 47, 48, 81, 80, 54, 26, 63}

print("Minimum val in set: ", min(set1))

Minimum val in set:  26

In [70]:
#40. Create a set from user input.
set_inp = input("Enter input for set")

inp_list = set_inp.split(",")

set1 = set(inp_list)

print(set1)

Enter input for set4,5,3,,6,8,4,3,
{'', '6', '3', '4', '5', '8'}

In [71]:
#41. Check if the intersection of two sets is empty.
set1 = {5, 4, 1, 9, 0}
set2 = {6, 91, 2, 3, 10}

inter_set = set1.intersection(set2)

if len(inter_set) > 0:
    print("Intersection is NOT empty")
    print(inter_set)
else:
    print("Intersection is empty")
    print(inter_set)

Intersection is empty
set()

In [72]:
#42. Create a set of the first 5 Fibonacci numbers.
fibonacci_set = set()
a, b = 0, 1

for _ in range(6):
    fibonacci_set.add(a)
    a, b = b, a + b

print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

In [73]:
#43. Remove duplicates from a list using sets.
dup_list = [1,1,2,3,3,4,5,5,6,6,7,7,8,8,9,9,9]

unique_list = set(dup_list)

print(unique_list)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [74]:
#44. Check if two sets have the same elements, regardless of their count.

set1 = {4, 5, 6, 7, 8}
set2 = {7, 6, 8}

sorted(set1) == sorted(set2)

False

In [75]:
#45. Create a set of the first `n` powers of 2.
n = 10

set1 = {2 ** i for i in range(10)}

print(sorted(set1))

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [76]:
#46. Find the common elements between a set and a list.
list1 = [4, 5, 6, 7, 8,9,0]
set2 = {7, 6, 8}

common_elements = set(list1).intersection(set2)

print(common_elements)

{8, 6, 7}

In [77]:
#47. Create a set of the first `n` triangular numbers.
n = 10

triangular = set()

for i in range(1,n+1):
    count = 0
    for j in range(1,i):
        for k in range(1,j):
            count +=1
    triangular.add(count)

print(sorted(triangular))

[0, 1, 3, 6, 10, 15, 21, 28, 36]

In [78]:
# 48. Check if a set contains another set as a subset.
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

is_subset = set2.issubset(set1)

if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [79]:
# 49. Create a set of alternating 1s and 0s of length `n`.
n = 20
set_0_1 = {1 if i % 2 == 0 else 0 for i in range(n)}

print(set_0_1)

{0, 1}

In [80]:
# 50. Merge multiple sets into one.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
set4 = {8, 9, 10}
set5 = {11, 12, 13}

new_set = set1.union(set2, set3, set4, set5)

print(new_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}

In [82]:
#Solution shared by Mentor
#https://colab.research.google.com/drive/1ocuILLMYhPK7YMatOJvyC61SiRquoKHY#scrollTo=o8E5Cwzsgtb3